body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url("./background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.app {
  display: flex;
}

.sidebar {
  background-color: transparent;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-color: #000000;
}

.sidebar h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

.sidebar button {
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Establece un ancho del 100% para igualar el tamaño de los botones */
}

.sidebar button:hover {
  background-color: #3061b5;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.main-content h2 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: transparent;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #000000;
}

th {
   background-color: transparent;
  font-weight: bold;
}

tbody tr:hover {
  background-color: #9ed4f8;
}

.busqueda {
    background-color: transparent;
}

.play-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
  }

  .center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .button-container {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  