body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  
}

.app {
  display: flex;
}

.sidebar {
  background-color: #f2f2f2;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.sidebar h2 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #333;
}

.sidebar button {
  display: block;
  margin-bottom: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* Establece un ancho del 100% para igualar el tamaño de los botones */
}

.sidebar button:hover {
  background-color: #3061b5;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.main-content h2 {
  margin-top: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tbody tr:hover {
  background-color: #f9f9f9;
}
